* {
    font-family: monospace;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(255, 229, 172);
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

a {
    text-decoration: none;   
    background-color: white;
    color: blue;
    padding: 5px;
    font-size: 15px;
}

.logo {
    background-color: white;
    color: orange;
    font-size: 30px;
    padding: 5px 10px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 10px;
    padding: 0;
}